

.header {
    position: fixed;
    width: 100%;
    background-color: $clr2;
    height: 60px;

    & > * {
        height: 100%;
    }

    & .btn-container * {
        margin-inline-start: 20px;
    }

    h3 {
        margin: 0;
    }
}